In [1]:
import pandas as pd
import mysql.connector

# Configuración de la conexión a la base de datos
host = 'localhost'
user = 'root'
password = '123456'
database = 'conciertos'

# Crear la conexión a la base de datos
conn = mysql.connector.connect(host=host, user=user, password=password, database=database)

# Consulta SQL para obtener datos de la tabla
query = 'SELECT * FROM conciertos_taylor'

# cargar los resultados en un df
df = pd.read_sql(query, conn)


conn.close()

print(df)

                 City        Country                      Venue  \
0          Evansville  United States  Roberts Municipal Stadium
1           Jonesboro  United States         Convocation Center
2           St. Louis  United States           Scottrade Center
3          Alexandria  United States  Bishop Ireton High School
4    North Charleston  United States  North Charleston Coliseum
..                ...            ...                        ...
325         Melbourne      Australia             Marvel Stadium
326            Sydney      Australia                ANZ Stadium
327          Brisbane      Australia                  The Gabba
328          Auckland    New Zealand        Mount Smart Stadium
329             Tokyo          Japan                 Tokyo Dome

                 Opening act(s)   Revenue                     Tour  \
0    Gloriana\r\nKellie Pickler    360617            Fearless_Tour
1    Gloriana\r\nKellie Pickler    340328            Fearless_Tour
2    Gloriana\r\nKellie Pickler    650420            Fearless_Tour
3    Gloriana\r\nKellie Pickler    153303            Fearless_Tour
4    Gloriana\r\nKellie Pickler    398154            Fearless_Tour
..                          ...       ...                      ...
325        Charli XCX\r\nBroods   6755570  Reputation_Stadium_Tour
326        Charli XCX\r\nBroods   7686564  Reputation_Stadium_Tour
327        Charli XCX\r\nBroods   4338127  Reputation_Stadium_Tour
328        Charli XCX\r\nBroods   3617593  Reputation_Stadium_Tour
329                  Charli XCX  14859847  Reputation_Stadium_Tour

     Attendance (tickets sold)  Attendance (available)
0                         7463                    7463
1                         7822                    7822
2                        13764                   13764
3                        11208                   11208
4                         8751                    8751
..                         ...                     ...
325                      63027                   63027
326                      72805                   72805
327                      43907                   43907
328                      35749                   35749
329                     100109                  100109

[330 rows x 8 columns]

C:\Users\Admin\AppData\Local\Temp\ipykernel_12480\42378813.py:17: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql(query, conn)

In [23]:
# Mostrar las primeras filas del dataset
print(df.head())

# Obtener información sobre las columnas
print(df.info())

# Estadísticas descriptivas del dataset
print(df.describe())

               City        Country                      Venue  \
0        Evansville  United States  Roberts Municipal Stadium
1         Jonesboro  United States         Convocation Center
2         St. Louis  United States           Scottrade Center
3        Alexandria  United States  Bishop Ireton High School
4  North Charleston  United States  North Charleston Coliseum

               Opening act(s) Attendance (tickets sold / available)   Revenue  \
0  Gloriana\r\nKellie Pickler                         7,463 / 7,463  $360,617
1  Gloriana\r\nKellie Pickler                         7,822 / 7,822  $340,328
2  Gloriana\r\nKellie Pickler                       13,764 / 13,764  $650,420
3  Gloriana\r\nKellie Pickler                                     �         �
4  Gloriana\r\nKellie Pickler                         8,751 / 8,751  $398,154

            Tour
0  Fearless_Tour
1  Fearless_Tour
2  Fearless_Tour
3  Fearless_Tour
4  Fearless_Tour
<class 'pandas.core.frame.DataFrame'>
Index: 441 entries, 0 to 444
Data columns (total 7 columns):
 #   Column                                 Non-Null Count  Dtype
---  ------                                 --------------  -----
 0   City                                   441 non-null    object
 1   Country                                441 non-null    object
 2   Venue                                  441 non-null    object
 3   Opening act(s)                         441 non-null    object
 4   Attendance (tickets sold / available)  441 non-null    object
 5   Revenue                                441 non-null    object
 6   Tour                                   441 non-null    object
dtypes: object(7)
memory usage: 27.6+ KB
None
               City        Country           Venue  \
count           441            441             441
unique          143             24             206
top     Los Angeles  United States  Staples Center
freq             16            314              16

                    Opening act(s) Attendance (tickets sold / available)  \
count                          441                                   441
unique                          41                                   294
top     Gloriana\r\nKellie Pickler                                     �
freq                            85                                    35

       Revenue           Tour
count      441            441
unique     295              5
top          �  Fearless_Tour
freq        36            111

In [24]:
# Eliminar filas con valores nulos
df = df.dropna()

In [25]:
# Reemplazar los valores nulos con el valor más repetido en esa columna
valor_mas_repetido = df['City'].mode()[0]
df['City'].fillna(valor_mas_repetido, inplace=True)

In [26]:
valor_mas_repetido = df['Country'].mode()[0]
df['Country'].fillna(valor_mas_repetido, inplace=True)

In [27]:
valor_mas_repetido = df['Venue'].mode()[0]
df['Venue'].fillna(valor_mas_repetido, inplace=True)

In [28]:
valor_mas_repetido = df['Opening act(s)'].mode()[0]
df['Opening act(s)'].fillna(valor_mas_repetido, inplace=True)

In [29]:
valor_mas_repetido = df['Attendance (tickets sold / available)'].mode()[0]
df['Attendance (tickets sold / available)'].fillna(valor_mas_repetido, inplace=True)

In [57]:
valor_mas_repetido = df['Revenue'].mode()[0]
df['Revenue'].fillna(valor_mas_repetido, inplace=True)

In [31]:
valor_mas_repetido = df['Tour'].mode()[0]
df['Tour'].fillna(valor_mas_repetido, inplace=True)

In [33]:
# Eliminar duplicados
df = df.drop_duplicates()

In [49]:
# columna que contiene valores con el símbolo de dólar
df['Revenue'] = df['Revenue'].str.replace('$', '')

In [53]:
# columna que contiene valores con comas
df['Revenue'] = df['Revenue'].str.replace(',', '')

In [54]:
# columna que contiene valores con caracteres no deseados
df['Revenue'] = df['Revenue'].replace('[^\d.]', '', regex=True)

<>:2: SyntaxWarning: invalid escape sequence '\d'
<>:2: SyntaxWarning: invalid escape sequence '\d'
C:\Users\Admin\AppData\Local\Temp\ipykernel_9060\1909186799.py:2: SyntaxWarning: invalid escape sequence '\d'
  df['Revenue'] = df['Revenue'].replace('[^\d.]', '', regex=True)

In [71]:
df['Revenue'] = df['Revenue'].astype(int)

In [62]:
# columna que contiene valores en formato string
valor_por_defecto = 0

# Reemplazar cadenas vacías con el valor por defecto 
#antes de la conversión a enteros
df['Revenue'] = df['Revenue'].replace('', valor_por_defecto)

# Convertir la columna a enteros
df['Revenue'] = df['Revenue'].astype(int)

print(df)

                 City        Country                      Venue  \
0          Evansville  United States  Roberts Municipal Stadium
1           Jonesboro  United States         Convocation Center
2           St. Louis  United States           Scottrade Center
3          Alexandria  United States  Bishop Ireton High School
4    North Charleston  United States  North Charleston Coliseum
..                ...            ...                        ...
439         Melbourne      Australia             Marvel Stadium
440            Sydney      Australia                ANZ Stadium
441          Brisbane      Australia                  The Gabba
442          Auckland    New Zealand        Mount Smart Stadium
443             Tokyo          Japan                 Tokyo Dome

                 Opening act(s) Attendance (tickets sold / available)  \
0    Gloriana\r\nKellie Pickler                         7,463 / 7,463
1    Gloriana\r\nKellie Pickler                         7,822 / 7,822
2    Gloriana\r\nKellie Pickler                       13,764 / 13,764
3    Gloriana\r\nKellie Pickler                                     �
4    Gloriana\r\nKellie Pickler                         8,751 / 8,751
..                          ...                                   ...
439        Charli XCX\r\nBroods                       63,027 / 63,027
440        Charli XCX\r\nBroods                       72,805 / 72,805
441        Charli XCX\r\nBroods                       43,907 / 43,907
442        Charli XCX\r\nBroods                       35,749 / 35,749
443                  Charli XCX                     100,109 / 100,109

      Revenue                     Tour
0      360617            Fearless_Tour
1      340328            Fearless_Tour
2      650420            Fearless_Tour
3           0            Fearless_Tour
4      398154            Fearless_Tour
..        ...                      ...
439   6755570  Reputation_Stadium_Tour
440   7686564  Reputation_Stadium_Tour
441   4338127  Reputation_Stadium_Tour
442   3617593  Reputation_Stadium_Tour
443  14859847  Reputation_Stadium_Tour

[330 rows x 7 columns]

In [67]:
df['Revenue'].replace(0, pd.NA, inplace=True)

# Encontrar el valor más repetido
valor_mas_repetido = df['Revenue'].mode()[0]

# Reemplazar ceros con el valor más repetido y NaN con 0
df['Revenue'] = df['Revenue'].replace({0: valor_mas_repetido, pd.NA: 0})

print(df)

                 City        Country                      Venue  \
0          Evansville  United States  Roberts Municipal Stadium
1           Jonesboro  United States         Convocation Center
2           St. Louis  United States           Scottrade Center
3          Alexandria  United States  Bishop Ireton High School
4    North Charleston  United States  North Charleston Coliseum
..                ...            ...                        ...
439         Melbourne      Australia             Marvel Stadium
440            Sydney      Australia                ANZ Stadium
441          Brisbane      Australia                  The Gabba
442          Auckland    New Zealand        Mount Smart Stadium
443             Tokyo          Japan                 Tokyo Dome

                 Opening act(s) Attendance (tickets sold / available)  \
0    Gloriana\r\nKellie Pickler                         7,463 / 7,463
1    Gloriana\r\nKellie Pickler                         7,822 / 7,822
2    Gloriana\r\nKellie Pickler                       13,764 / 13,764
3    Gloriana\r\nKellie Pickler                                     �
4    Gloriana\r\nKellie Pickler                         8,751 / 8,751
..                          ...                                   ...
439        Charli XCX\r\nBroods                       63,027 / 63,027
440        Charli XCX\r\nBroods                       72,805 / 72,805
441        Charli XCX\r\nBroods                       43,907 / 43,907
442        Charli XCX\r\nBroods                       35,749 / 35,749
443                  Charli XCX                     100,109 / 100,109

      Revenue                     Tour
0      360617            Fearless_Tour
1      340328            Fearless_Tour
2      650420            Fearless_Tour
3           0            Fearless_Tour
4      398154            Fearless_Tour
..        ...                      ...
439   6755570  Reputation_Stadium_Tour
440   7686564  Reputation_Stadium_Tour
441   4338127  Reputation_Stadium_Tour
442   3617593  Reputation_Stadium_Tour
443  14859847  Reputation_Stadium_Tour

[330 rows x 7 columns]

In [69]:
df['Revenue'].replace(0, pd.NA, inplace=True)

# Encontrar el valor más repetido
valor_mas_repetido = df['Revenue'].mode()[0]

# Reemplazar ceros con el valor más repetido
df['Revenue'].replace(pd.NA, valor_mas_repetido, inplace=True)

print(df)

                 City        Country                      Venue  \
0          Evansville  United States  Roberts Municipal Stadium
1           Jonesboro  United States         Convocation Center
2           St. Louis  United States           Scottrade Center
3          Alexandria  United States  Bishop Ireton High School
4    North Charleston  United States  North Charleston Coliseum
..                ...            ...                        ...
439         Melbourne      Australia             Marvel Stadium
440            Sydney      Australia                ANZ Stadium
441          Brisbane      Australia                  The Gabba
442          Auckland    New Zealand        Mount Smart Stadium
443             Tokyo          Japan                 Tokyo Dome

                 Opening act(s) Attendance (tickets sold / available)  \
0    Gloriana\r\nKellie Pickler                         7,463 / 7,463
1    Gloriana\r\nKellie Pickler                         7,822 / 7,822
2    Gloriana\r\nKellie Pickler                       13,764 / 13,764
3    Gloriana\r\nKellie Pickler                                     �
4    Gloriana\r\nKellie Pickler                         8,751 / 8,751
..                          ...                                   ...
439        Charli XCX\r\nBroods                       63,027 / 63,027
440        Charli XCX\r\nBroods                       72,805 / 72,805
441        Charli XCX\r\nBroods                       43,907 / 43,907
442        Charli XCX\r\nBroods                       35,749 / 35,749
443                  Charli XCX                     100,109 / 100,109

      Revenue                     Tour
0      360617            Fearless_Tour
1      340328            Fearless_Tour
2      650420            Fearless_Tour
3      153303            Fearless_Tour
4      398154            Fearless_Tour
..        ...                      ...
439   6755570  Reputation_Stadium_Tour
440   7686564  Reputation_Stadium_Tour
441   4338127  Reputation_Stadium_Tour
442   3617593  Reputation_Stadium_Tour
443  14859847  Reputation_Stadium_Tour

[330 rows x 7 columns]

In [70]:
df.head()

,City,Country,Venue,Opening act(s),Attendance (tickets sold / available),Revenue,Tour
0,Evansville,United States,Roberts Municipal Stadium,Gloriana\r\nKellie Pickler,"7,463 / 7,463",360617,Fearless_Tour
1,Jonesboro,United States,Convocation Center,Gloriana\r\nKellie Pickler,"7,822 / 7,822",340328,Fearless_Tour
2,St. Louis,United States,Scottrade Center,Gloriana\r\nKellie Pickler,"13,764 / 13,764",650420,Fearless_Tour
3,Alexandria,United States,Bishop Ireton High School,Gloriana\r\nKellie Pickler,�,153303,Fearless_Tour
4,North Charleston,United States,North Charleston Coliseum,Gloriana\r\nKellie Pickler,"8,751 / 8,751",398154,Fearless_Tour

In [80]:
# Crear una copia del DataFrame original
df_copy = df.copy()

In [81]:
# Creamos nuevas columnas 'Attendance (tickets sold)' y 'Attendance (available)'
df_copy[['Attendance (tickets sold)', 'Attendance (available)']] = df_copy['Attendance (tickets sold / available)'].str.split('/', expand=True)

# Eliminamos la columna original 'Attendance (tickets sold / available)'
df_copy.drop(columns=['Attendance (tickets sold / available)'], inplace=True)

# Eliminamos los caracteres "," de las nuevas columnas
df_copy['Attendance (tickets sold)'] = df_copy['Attendance (tickets sold)'].str.replace(',', '')
df_copy['Attendance (available)'] = df_copy['Attendance (available)'].str.replace(',', '')

# Reemplazamos valores nulos, vacíos, con cero en las nuevas columnas
df_copy['Attendance (tickets sold)'] = df_copy['Attendance (tickets sold)'].fillna(0)
df_copy['Attendance (available)'] = df_copy['Attendance (available)'].fillna(0)

print(df_copy)

                 City        Country                      Venue  \
0          Evansville  United States  Roberts Municipal Stadium
1           Jonesboro  United States         Convocation Center
2           St. Louis  United States           Scottrade Center
3          Alexandria  United States  Bishop Ireton High School
4    North Charleston  United States  North Charleston Coliseum
..                ...            ...                        ...
439         Melbourne      Australia             Marvel Stadium
440            Sydney      Australia                ANZ Stadium
441          Brisbane      Australia                  The Gabba
442          Auckland    New Zealand        Mount Smart Stadium
443             Tokyo          Japan                 Tokyo Dome

                 Opening act(s)   Revenue                     Tour  \
0    Gloriana\r\nKellie Pickler    360617            Fearless_Tour
1    Gloriana\r\nKellie Pickler    340328            Fearless_Tour
2    Gloriana\r\nKellie Pickler    650420            Fearless_Tour
3    Gloriana\r\nKellie Pickler    153303            Fearless_Tour
4    Gloriana\r\nKellie Pickler    398154            Fearless_Tour
..                          ...       ...                      ...
439        Charli XCX\r\nBroods   6755570  Reputation_Stadium_Tour
440        Charli XCX\r\nBroods   7686564  Reputation_Stadium_Tour
441        Charli XCX\r\nBroods   4338127  Reputation_Stadium_Tour
442        Charli XCX\r\nBroods   3617593  Reputation_Stadium_Tour
443                  Charli XCX  14859847  Reputation_Stadium_Tour

    Attendance (tickets sold) Attendance (available)
0                       7463                    7463
1                       7822                    7822
2                      13764                   13764
3                           �                      0
4                       8751                    8751
..                        ...                    ...
439                    63027                   63027
440                    72805                   72805
441                    43907                   43907
442                    35749                   35749
443                   100109                  100109

[330 rows x 8 columns]

In [ ]:
# Eliminar los caracteres "," de las nuevas columnas
df_copy['Attendance (tickets sold)'] = df_copy['Attendance (tickets sold)'].str.replace(',', '')

# Reemplazar el carácter "�" con cero en 'Attendance (tickets sold)'
df_copy['Attendance (tickets sold)'] = df_copy['Attendance (tickets sold)'].replace('�', '0')

# Reemplazar valores nulos, vacíos y None con cero en 'Attendance (tickets sold)'
df_copy['Attendance (tickets sold)'] = df_copy['Attendance (tickets sold)'].fillna(0)

In [101]:
# Convertir las columnas a tipo de datos entero
df_copy['Attendance (tickets sold)'] = df_copy['Attendance (tickets sold)'].astype(int)
df_copy['Attendance (available)'] = df_copy['Attendance (available)'].astype(int)

In [113]:
# Encontrar el valor más repetido excluyendo ceros en 'Attendance (tickets sold)' y 'Attendance (available)'
valor_tickets_repetido = df_copy['Attendance (tickets sold)'][df_copy['Attendance (tickets sold)'] != 0].mode().iloc[0]
valor_available_repetido = df_copy['Attendance (available)'][df_copy['Attendance (available)'] != 0].mode().iloc[0]

# Reemplazar ceros con el valor más repetido excluyendo ceros
df_copy['Attendance (tickets sold)'] = df_copy['Attendance (tickets sold)'].replace(0, valor_tickets_repetido)
df_copy['Attendance (available)'] = df_copy['Attendance (available)'].replace(0, valor_available_repetido)

In [126]:
df_copy['Opening act(s)'] = df_copy['Opening act(s)'].fillna('Gloriana Kellie Pickler')

In [127]:
df_copy.head(20)

,City,Country,Venue,Opening act(s),Revenue,Tour,Attendance (tickets sold),Attendance (available)
0,Evansville,United States,Roberts Municipal Stadium,Gloriana\r\nKellie Pickler,360617,Fearless_Tour,7463,7463
1,Jonesboro,United States,Convocation Center,Gloriana\r\nKellie Pickler,340328,Fearless_Tour,7822,7822
2,St. Louis,United States,Scottrade Center,Gloriana\r\nKellie Pickler,650420,Fearless_Tour,13764,13764
3,Alexandria,United States,Bishop Ireton High School,Gloriana\r\nKellie Pickler,153303,Fearless_Tour,11208,11208
4,North Charleston,United States,North Charleston Coliseum,Gloriana\r\nKellie Pickler,398154,Fearless_Tour,8751,8751
5,Jacksonville,United States,Jacksonville Veterans Memorial Arena,Gloriana\r\nKellie Pickler,507012,Fearless_Tour,11072,11072
6,Biloxi,United States,Mississippi Coast Coliseum,Gloriana\r\nKellie Pickler,437313,Fearless_Tour,9436,9436
7,London,England,Shepherd's Bush Empire,Gloriana Kellie Pickler,401328,Fearless_Tour,6789,6789
9,Spokane,United States,Spokane Arena,Gloriana\r\nKellie Pickler,482146,Fearless_Tour,10798,10798
10,Seattle,United States,KeyArena,Gloriana\r\nKellie Pickler,528637,Fearless_Tour,12061,12061
11,Portland,United States,Rose Garden Arena,Gloriana\r\nKellie Pickler,613284,Fearless_Tour,13226,13226
12,Nampa,United States,Ford Arena,Gloriana\r\nKellie Pickler,413622,Fearless_Tour,8970,8970
13,Glendale,United States,Jobing.com Arena,Gloriana\r\nKellie Pickler,647923,Fearless_Tour,13052,13052
14,Los Angeles,United States,Staples Center,Gloriana\r\nKellie Pickler,720940,Fearless_Tour,13648,13648
15,Paradise,United States,Mandalay Bay Events Center,Gloriana\r\nKellie Pickler,551051,Fearless_Tour,8311,8311
16,San Diego,United States,Valley View Casino Center,Gloriana\r\nKellie Pickler,502689,Fearless_Tour,10174,10174
17,Salt Lake City,United States,EnergySolutions Arena,Gloriana\r\nKellie Pickler,555207,Fearless_Tour,13042,13042
18,New Brockton,United States,BamaJam Farms,Gloriana Kellie Pickler,153303,Fearless_Tour,11208,11208
19,Columbia,United States,Merriweather Post Pavilion,Gloriana\r\nKellie Pickler,608438,Fearless_Tour,17619,17619
20,Greensboro,United States,Greensboro Coliseum,Gloriana\r\nKellie Pickler,690959,Fearless_Tour,14641,14641

In [128]:
#Guardamos el df en un nuevo csv
df_copy.to_csv('Concerts_Taylor_Clean.csv', index=False)